### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

https://l.facebook.com/l.php?u=https%3A%2F%2Fdatalprivatepool.blob.core.windows.net%2Fshare%2FFullalbum.rar%3Ffbclid%3DIwAR27ejWk4S337jMb0N5z9RLlYX4Y2SnGV0FEvS5FOQtYHryeHX9DVsU7DBo&h=AT29ElCRvoL0A31GK4sDJ3WX4xsabCZbLEET3zp9z84v7h_9UQqlkiDKKbhtiByuQibJAUuXqXvxL1W769PxuBRWG1hSeuYnhbgAO0EJnBlpo6Q4amEG5RwvbAHaFgo8kQzOPgFkk6uebg_eVY-ytw&__tn__=H-R&c[0]=AT3siZcTh2ENu_6UPBmRWvHxOChbqPqnut8XzldChhSDVBp9_juA8gmZoyLIz3ySetbtbVxPgzDPjYZ6Dh4ugCW28alPCy21BHPu8Exez2UlS7XTiq8QAmebAP2hhVQXPBan58-MBijdlDzLrZ5wIM-BMWJCOd7s-MsfN-fr6QSF4_BTwTUWFbDp4xX92jlluIag-CKDWjhQN2o0WSf2Wwrxyu2TM2pg4ia03KSta2oRW2jYAyky5dyisKvQ2-ooikiPPb122n6yqT334maIKv4b9xiTrv-NIyqoOCbQ7f8QC1jXYqC5gXVFJPXjnsknioW7bstBAScfBDc3KIb5yXnhTYb55IYwcKQ
